/**
 * This is the stylesheet of this application
 *
 */

button.m-btn-large-dim {
    width: 150px;
    height: 150px;
    font-size: 50px;
    padding-left: 15px;
    padding-top: 22px;
}

span.m-btn-large-text {
    font-size: 12px;
    vertical-align: top;
}

.test-exam-form test_exam {
    
}

.test-exam-form test_exam info {
    float: left;
    color: red;
}

.test-exam-form test_exam te_code {
    float: left;
}
